body{
   background: #cbd5e1;
   font-family: 'Roboto', sans-serif;
}

.card{
   border: 1px solid black;
   background: #fed7aa;
   padding: 10px;
   width: 300px;
}

.card p{
   font-weight: bold;
}
.card h2{
   text-transform: uppercase;
   font-style: italic;
   color: #64748b;
}


button{
   background: #fca5a5;
   color: white;
   font-weight: bold;
   border-radius: 10px;
}
.card button{
   padding: 10px;
   margin-right: 10px;
}

.row{
   margin-bottom: 10px;
}

header{
   margin-bottom: 10px;
}


.library{
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

h1{
   text-transform: uppercase;
   letter-spacing: .75em;
   font-size: 2.5rem;
   text-align: center;
   font-style: italic;
}

header button{
   display: block;
   margin: auto;
   padding: 20px;
}


.card, header button{
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}